<div class="d-flsex justify-content-center">
    <p>Export schema as LDIF, entry started with 'dn: ', further info here:
        <a href="https://github.com/KubaMiszcz/LDAPSchemaValidator">Help</a>
    </p>

</div>
<div class="d-flsex justify-content-center">
    <div class="form-group m-3">
        <label for="exampleFormControlInput1" class="form-label">input: exported LDIF file</label>
        <textarea [(ngModel)]="ldifSchemaRawInput" aria-label="asads" class="form-control small-text-75" name="asd"
            id="text2" rows="10" placeholder="values"></textarea>
    </div>
</div>

<div class="d-flaex justify-csontent-center m-3">
    <div class="d-grid gsap-2">
        <button type="button" name="" id="" class="btn btn-primary btn-block" (click)="analyzeSchema()">
            ValidateSchema
        </button>
    </div>
</div>



<div class="d-flsex justify-content-center">
    <div class="form-group m-3">
        <label for="exampleFormControlInput1" class="form-label">validationResults</label>
        <textarea [(ngModel)]="validationResults" aria-label="asads" class="form-control small-text-75" name="asd"
            id="text1" rows="15" placeholder="tekst"></textarea>
    </div>
</div>