.footer {
    background-color: #212529;
    height: 1.5rem;
    text-align: center;
    vertical-align: middle;
    color: #919496;
    font-size: 0.8rem;
}

a {
    color: #919496;
    text-decoration: none;
}