<nav class="navbar sticky-top anavbar-expand-xxl navbar-dark bg-dark justify-content-center py-0 px-1">
    <div class="content d-flex justify-content-between flex-wrap">



        <!-- LEFT SIDE -->
        <!-- <div class="d-flex align-items-center">
            <div class="nsavbar-brand me-1" [routerLink]="'home-tab'">
                <img src="assets/imgs/app-icon.png" height="30" alt="">
            </div>
            <div class="me-1" [routerLink]="'home-tab'">
                <button type="button" name="" id="" class="btn btn-danger">
                    CLEAR ALL
                </button>
            </div>
        </div> -->









        <!-- RIGHT SIDE -->
        <!-- <div class="d-flex align-items-center">
            <div class="ms-1">
                <img src="https://cdn.vectorstock.com/i/1000x1000/60/58/lamp-light-bulb-idea-icon-vector-20716058.webp"
                    height="30" alt="">
            </div>
            <div class="ms-1" [routerLink]="'sarneg-tab'">
                <img src="assets/imgs/sarneg-image.png" height="30" alt="">
            </div>


        </div> -->





    </div>
</nav>